body {
  background-image: url('./51339.gif'); /* Path to your image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  margin: 0; /* Remove default body margin */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
overflow: hidden;
}

canvas {
  width: 500px; /* Set a fixed width for the canvas */
  height: 500px; /* Set a fixed height for the canvas */

}
.ab{
  font-size: 30px;
  text-shadow: 
  -1px -1px 0 white,  
   1px -1px 0 white,
  -1px  1px 0 white,
   1px  1px 0 white;
}

#reset:hover {
  color: red;
  border-color: red;
}



#readout {

  padding-bottom: 100px;
}


#selector {
  position: absolute;
  top: 48vw;
  font-size: 50px;
  z-index: 3;
}

#result{
  font-size:50px;
  color: rgb(0, 180, 120);
}

input {
  font-size: 16px;
  border:none;
  border-bottom: 1px solid black
}
/* styles.css */

.display{
  margin-top: 30px;
}